
<!--<app-root></app-root>-->
<div class="m-3">
  <lib-primary-button></lib-primary-button>
</div>
<br>
<div class="m-3">
  <lib-secondary-button></lib-secondary-button>
</div>
<br>
<div class="m-3">
  <lib-link-button></lib-link-button>
</div>
<br>
<div class="m-3">
  <lib-outline-button></lib-outline-button>
</div>
<br>
<div class="m-3">
  <lib-ghost-button></lib-ghost-button>
</div>
<br>
<div class="m-3">
  <lib-danger-button></lib-danger-button>
</div>
<br>
<div class="m-3">
  <lib-success-button></lib-success-button>
</div>

